name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.18'

    - name: Install dependencies
      run: go mod download
      working-directory: notes_system/api_service/app

    - name: Run tests
      run: go test ./... -v
      working-directory: notes_system/api_service/app/cmd/main
